@-webkit-keyframes preloader {
    25% {
      height: 30px;
      -webkit-transform: translateY(15px);
      transform: translateY(15px);
      background: #20bf55;
    }
  }
  
  @keyframes preloader {
    25% {
      height: 30px;
      -webkit-transform: translateY(15px);
      transform: translateY(15px);
      background: #20bf55;
    }
  }
  
  .btn-main {
    /* background: #20bf55; */
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    /* background-image: linear-gradient(100deg, #f9643d, #fe2a77); */

    border: 0px solid #20bf55;
  }
  
  .title .border {
    background: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  }
  
  .navigation .navbar-nav > li.active a {
    color: #20bf55;
  }
  
  .navigation .navbar-nav > li > a:hover, .navigation .navbar-nav > li > a:active, .navigation .navbar-nav > li > a:focus {
    color: #20bf55;
  }
  
  .testimonial {
    background: #20bf55;
  }
  
  .portfolio-filter button {
    background: #20bf55;
  }
  
  .team .member-photo .mask {
    background: rgba(40, 171, 227, 0.7);
  }
  
  /*=================================================================
    Our skills
  ==================================================================*/
  .team-skills .progress-block .progress .progress-bar {
    background: #20bf55;
  }
  
  /*=================================================================
    Step section
  ==================================================================*/
  .development-steps .step-2 {
    background-color: #20bf55;
  }
  
  .development-steps .step-3 {
    background: #198dbf;
  }
  
  .development-steps .step-4 {
    background: #167da9;
  }
  
  .services .service-block.color-bg {
    /* background: #20bf55; */
  }
  
  .services .service-block i {
    color: #20bf55;
  }
  
  .service-2 .service-item:hover i {
    color: #20bf55;
  }
  
  .service-2 .service-item i {
    background: #20bf55 none repeat scroll 0 0;
  }
  
  .pricing-table .price-title .value {
    color: #20bf55;
  }
  
  .portfolio-filter ul li.active {
    background: #20bf55;
  }
  
  .portfolio-block .caption .search-icon {
    background: #20bf55;
  }
  
  .counters-item i {
    color: #20bf55;
  }
  
  .contact-form input:hover,
  .contact-form textarea:hover,
  .contact-form #contact-submit:hover {
    border-color: #20bf55;
  }
  
  .contact-form #contact-submit {
    background: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  }
  
  .social-icon ul li a:hover {
    background: #20bf55;
    border: 1px solid #20bf55;
  }
  
  .about .btn-about {
    background: #20bf55;
  }
  
  .about .feature-list li i {
    color: #20bf55;
  }
  
  .top-footer li a:hover {
    color: #20bf55;
  }
  
  .footer-bottom a {
    color: #20bf55;
  }
  
  .post-meta a {
    color: #20bf55;
  }
  
  .next-prev a:hover {
    color: #20bf55;
  }
  
  .social-profile ul li a i:hover {
    color: #20bf55;
  }
  
  .comment-reply-form input:focus, .comment-reply-form textarea:focus {
    border: 1px solid #20bf55;
  }
  
  /*# sourceMappingURL=../maps/colors/blue.css.map */
  

  .team-member .member-content ul li a i {
    color: #20bf55;
    background: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .services .service-block i {
    color: #20bf55;
    background: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .col-centered{
    float: none !important;
    margin: 0 auto !important;
  }

  .hero-area .block h2 {
    color: #ffffff;
  }

  .hero-area .block h2:hover {
    color:  #01baef !important;
  }

  .service-list .block {
    background:  #20bf55;
    text-align: center;
  }

  .label{
    background: red; 
    display: table;
    color: #fff;
  }

  .input[type="submit"] {
    display: none;
  }

  .file-up-button {
    /* height: 100%; */
    width: 100%;
  }

  .video-player .play-icon i {
    color: #20bf55 ;
    border: 1px solid #01baef;
  }